<!-- templates/registration/password_reset_complete.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Parol Tiklandi" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card text-center">
            <div class="card-content">
                <i class="fas fa-check-circle fa-3x text-success mb-3"></i> {# Ikonka #}
                <h2 class="card-title">{% trans "Parol Muvaffaqiyatli Tiklandi!" %}</h2>
                <p class="card-text mb-4">{% trans "Parolingiz muvaffaqiyatli o'rnatildi. Endi yangi parolingiz bilan tizimga kirishingiz mumkin." %}</p>
                <a href="{% url 'core:login' %}" class="btn btn-primary">{% trans "Kirish" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}