
{% extends "base.html" %} {# base.html dan meros olamiz #}
{% load i18n %}

{% block title %}{% trans "Parol Yangilandi" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card text-center"> {# text-center qo'shildi #}
            <div class="card-content">
                 <i class="fas fa-check-circle fa-3x text-success mb-3"></i> {# Ikonka qo'shildi #}
                <h2 class="card-title">{% trans "Parol Muvaffaqiyatli Yangilandi!" %}</h2>
                <p class="card-text mb-4">{% blocktrans with username=request.user.username %}Hurmatli {{ username }}, sizning parolingiz muvaffaqiyatli o'zgartirildi.{% endblocktrans %}</p>
                <a href="{% url 'core:module_list' %}" class="btn btn-primary">{% trans "Bosh Sahifaga Qaytish" %}</a> {# To'g'ri link #}
            </div>
        </div>
    </div>
</div>

{# Modal oynani olib tashladik, chunki endi base.html ishlatilyapti #}

{% endblock %}