<!-- templates/registration/password_reset_done.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Havola Yuborildi" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
        <div class="card text-center">
            <div class="card-content">
                <i class="fas fa-envelope-circle-check fa-3x text-success mb-3"></i> {# Ikonka #}
                <h2 class="card-title">{% trans "Havola Yuborildi" %}</h2>
                <p class="card-text mb-4">{% trans "Parolni tiklash bo'yicha ko'rsatmalar email manzilingizga yuborildi. Agar bir necha daqiqada xabar kelmasa, spam papkasini tekshiring yoki qaytadan urinib ko'ring." %}</p>
                <a href="{% url 'core:login' %}" class="btn btn-secondary">{% trans "Kirish Sahifasiga Qaytish" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}