{% load i18n %}
{% autoescape off %}
{% blocktrans %}Salom, {{ user.get_username }},{% endblocktrans %}

{% trans "Siz (yoki kimdir) saytimizda parolingizni tiklashni so'radingiz. Agar bu siz bo'lsangiz, quyidagi havolaga bosing:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Agar havola ishlamasa, uni brauzeringiz manzil qatoriga nusxalab joylashtiring." %}

{% trans "Agar parolni tiklashni siz so'ramagan bo'lsangiz, bu xabarga e'tibor bermang." %}

{% trans "Rahmat," %}
{% blocktrans %}AnorEdu Platformasi jamoasi{% endblocktrans %}

{% endautoescape %}